<div class="pizza-list">
    <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="purchase-pizza-png">
        <div class="flex-1 ml-4">
            <h1 class="capitalize">marinara</h1>
            <span class="uppercase">medium</span>
        </div>
        <span class="capitalize flex-1">1 pcs</span>
        <span class="font-bold text-lg">₹300</span>
    </div>
</div>